:root {
  --size: 5px;
  --s-em: 5em;
  --bg: #212529;
}

.londrina-thin {
  font-family: "Londrina Solid", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.londrina-light {
  font-family: "Londrina Solid", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.londrina {
  font-family: "Londrina Solid", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.londrina-black {
  font-family: "Londrina Solid", sans-serif;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
}

#primer-p {
  font-size: 130%;
}

#izquierda {
  height: fit-content;
}

.fit-content {
  height: fit-content;
}

th,
td {
  padding-left: 0.1px !important;
  padding-right: 0.1px !important;
}

#box-s {
  box-sizing: border-box !important;
}

#fecha {
  width: fit-content;
}
#contenedor-table {
  height: 26em;
}

.form-check-input ,
label > input[required][type="time"]{
  cursor: pointer;
}
