:root {
  --size: 5px;
  --s-em: 5em;
  --bg: #212529;
  --bg-card: #cccccc;
}
body {
  min-width: 344px;
}

#bg {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: linear-gradient(
    45deg,
    #3498db,
    #2ecc71
  ); /* Gradient background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Shadow for depth */
  border-radius: 10px; /* Rounded corners */
  position: relative;
  overflow: auto;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0.1) 1px,
        transparent 1px
      ),
      linear-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px);
    background-size: 20px 20px;
    pointer-events: none;
    z-index: 0;
  }
}

.bg {
  background: linear-gradient(115deg, #ffffff, #dddddd);
  border: calc(var(--size) - 4px) solid var(--bg-card);
  box-shadow: 0 0 3px var(--bg), inset 0 0 40px var(--bg-card);
}

.container {
  z-index: 1;
}

li {
  &::marker {
    color: #3498db;
  }
}

#lugares.grid {
  display: grid;
  gap: 0 12%;
  grid-template-columns: minmax(50%, 1fr) minmax(50%, 1fr);

  > li {
    a {
      text-decoration: none;
      color: var(--bg);
    }
    /* background-color: red; */

    &:nth-child(2) {
      grid-area: 2/1;
    }

    &:nth-child(3) {
      grid-area: 3/1;
    }

    &:nth-child(4) {
      grid-area: 4/1;
    }

    &:nth-child(5) {
      grid-area: 5/1;
    }

    &:nth-child(6) {
      grid-area: 6/1;
    }
  }
}

@media (0px <= width <=573px) {
  @media (0px <= width <= 510px) {
    #artistas {
      > li {
        line-height: 270%;
      }
    }
  }
  #lugares.grid {
    grid-template-columns: minmax(100%, 1fr);
    justify-items: center;
  }
}
